.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 10px;
  color: black;
}

.App-footer > a {
  padding-bottom: 10px;
  color:darkslategrey;
}